*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.footer{
    background-color: #121116;
    width: 100%;
    height: 15cm;
}

.img {
display: block;
margin: 0 auto;
padding-top: 4cm;
}

.logo {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding-top: 2cm;
    font-size: 20px;
    letter-spacing: 1px;
}

.separator{
    margin: 0 auto;
    padding-top: 0.7cm;
    display: block;
}

.networks li {
    display:inline-block;
    padding: 0 calc(0.5cm - 10px);
    
}

.networks{
    text-align: center;
    padding-top: calc(0.7cm - 5px);
}   

.networks li a{
    padding: 5px;
    border-radius: 50%;
}
   
.networks li a:hover{
    background-color: rgba(0, 255, 255, 0.568);
}

.copyright{
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    padding-top: 3cm;
    font-weight: 400;
}

.text{
    color: #00c7fc;
}